.warp {
  width: 100%;
  padding: 10px 14px;
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}
.header_text {
  flex: 1;
  text-align: center;
}
.header_left {
  width: 30px;
}
.header_right {
  width: 30px;
}
.dayWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34px;
  margin-top: 12px;
}
.dateWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.dayItem {
  width: 14%;
  text-align: center;
}
.dateItem {
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14%;
  width: 14%;
  cursor: pointer;
  height: 32px;
}

.dateItem_active {
  background-color: #4684ff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
}
.dateItem_text {
  border-radius: 50%;
  max-height: 24px;
  max-width: 24px;
  text-align: center;
  width: 24px;
  box-sizing: border-box;
  padding: 6px;
  font-size: 12px;
}
.dateItem_text_active {
  color: red;
}
.dateItem_weekend {
  flex: 1;
  padding: 6;
}
.no_thisMoth {
  color: #9b9b9b;
}
// 阳历
.solarItem {
  line-height: 20;
  height: 20;
  font-size: 16;
  width: 20;
  opacity: 1;
  font-weight: 400;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
// 农历
.lunarItem {
  // flex: 1;
  // padding: 6;
  margin-top: 4;
  margin-bottom: 4;
}
.lunarItem_Text {
  font-size: 9;
  color: #9b9b9b;
}
.dot {
  width: 4;
  height: 4;
  border-radius: 4;
  // background-color: #4684ff;
  margin-top: 4;
}
.dot_active {
  background-color: #ffffff;
}
.text {
  color: #999999;
}
.lastMonth {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgc3R5bGU9IndpZHRoOjFlbTtoZWlnaHQ6MWVtO3ZlcnRpY2FsLWFsaWduOm1pZGRsZSIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSJjdXJyZW50Q29sb3IiIG92ZXJmbG93PSJoaWRkZW4iPjxwYXRoIGQ9Ik0zMjguOTI2IDQ4OS42NjFsMjg5LjE3OC0yODkuMTc5cTIyLjYyNy0yMi42MjcgNDUuMjU1IDAgMjIuNjI3IDIyLjYyOCAwIDQ1LjI1NUwzNzQuMTggNTM0LjkxNXEtMjIuNjI3IDIyLjYyOC00NS4yNTQgMC0yMi42MjgtMjIuNjI3IDAtNDUuMjU0ek0zNzUuMDY3IDQ4OS43N2wyODkuMTc4IDI4OS4xNzhxMjIuNjI4IDIyLjYyOCAwIDQ1LjI1NS0yMi42MjcgMjIuNjI4LTQ1LjI1NSAwTDMyOS44MTIgNTM1LjAyNXEtMjIuNjI3LTIyLjYyOCAwLTQ1LjI1NSAyMi42MjctMjIuNjI4IDQ1LjI1NSAweiIvPjwvc3ZnPg==');
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.nextMonth {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgc3R5bGU9IndpZHRoOjFlbTtoZWlnaHQ6MWVtO3ZlcnRpY2FsLWFsaWduOm1pZGRsZSIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSJjdXJyZW50Q29sb3IiIG92ZXJmbG93PSJoaWRkZW4iPjxwYXRoIGQ9Ik0zMjguOTI2IDQ4OS42NjFsMjg5LjE3OC0yODkuMTc5cTIyLjYyNy0yMi42MjcgNDUuMjU1IDAgMjIuNjI3IDIyLjYyOCAwIDQ1LjI1NUwzNzQuMTggNTM0LjkxNXEtMjIuNjI3IDIyLjYyOC00NS4yNTQgMC0yMi42MjgtMjIuNjI3IDAtNDUuMjU0ek0zNzUuMDY3IDQ4OS43N2wyODkuMTc4IDI4OS4xNzhxMjIuNjI4IDIyLjYyOCAwIDQ1LjI1NS0yMi42MjcgMjIuNjI4LTQ1LjI1NSAwTDMyOS44MTIgNTM1LjAyNXEtMjIuNjI3LTIyLjYyOCAwLTQ1LjI1NSAyMi42MjctMjIuNjI4IDQ1LjI1NSAweiIvPjwvc3ZnPg==');
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
